/* Untuk layar kecil (mobile) */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #ff66a3;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    border-radius: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  section {
    padding: 80px 10px;
  }

  .cert-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .photo-gallery img {
    width: 150px;
    height: 150px;
  }
}
